<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'/>
</head>
<body>
<div class="container">
  <h1><%= title %></h1>

  <p><a href="users">List of users</a></p>
  <p><a href="events">Upcoming events</a></p>
</div>
</body>
</html>
